.banner__title {
    margin-bottom: 2em;
    @media (min-width: @medium) {
        margin-bottom: 2.5em;
    }
}

.banner__image {
    margin: 2.5em 0;
    height: 20em;
    @media (min-width: @small) { height: 26em; }
    @media (min-width: @medium) { 
        margin: 3.5em 0;
        height: 32em; 
    }
    @media (min-width: @large) { height: 42em; }
}

.scroll-to-content {
    margin-top: 2em;
    @media (min-width: @medium) { margin: 0; }
}