.banner__title {
    margin-bottom: 2em;
    @media (min-width: @medium) {
        margin-bottom: 2.5em;
    }
}

.banner__image {
    margin: 0;
    height: 20em;
    @media (min-width: @small) { height: 26em; }
    @media (min-width: @medium) { 
        height: 32em;
        margin-top: 3.5em;
     }
    @media (min-width: @large) { height: 42em; }
}

.scroll-to-content {
    margin: 2.5em 0;
    @media (min-width: @medium) { 
        margin: 0; 
    }
}


.banner__background {
    display: block;
    position: absolute;
    top: 0; right: 0;
    z-index: -1;

    width: 100vw; height: 100vh;
    overflow-x: hidden;
    background-image: url('../img/background-gradient.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top right;
}

.banner__inner {
    @media (max-width: @max-medium) {
        background-image: url('../img/background-gradient-mobile.jpg');
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
    }
}