.breadcrumbs__link, 
.breadcrumb__link a {
    color: @darkblue;
    text-decoration: none;
}

.breadcrumbs__separator {
    margin: 0 0.5em;
    width: 0.6em; height: 0.6em;
    background: center center / contain no-repeat url('../img/arrow-right.svg');
}