.image-text__image {
    min-height: 22em;
    @media (min-width: @small) { min-height: 32em; }
    @media (min-width: @medium) { min-height: 38em; }
    @media (min-width: @large) { min-height: 44em; }
}

@media (min-width: @medium) {
    .image-text--flip .image-text__image__cont {
        order: 2;
    }

    .image-text--flip .image-text__content {
        order: 1;
    }
}