
// sets horizontal page spacing across all breakpoints
.page-width {	

	// center by default
	margin-left:auto;
	margin-right:auto;

	// 1em from viewport edge on mobile
	min-width:(@body-min-width - 2em);
	
	max-width:90vw;
	@media(min-width:@small) { max-width:90vw }
	@media(min-width:@medium) {}
	@media(min-width:@large) { max-width: 1240px; }	
}

.page-width--narrow {
	&:extend(.page-width);
	@media(min-width:@medium) { max-width:75vw }
	@media(min-width:@large) { max-width: 1040px; }	
}

.page-width--large {
	&:extend(.page-width);
	@media(min-width: @large) {
		width: calc(100% - 2.5em);
		max-width: 1440px;
	}
	@media(min-width: @x-large) { 
		max-width: 1540px;
	}
}
