.stacked-cards__item {
    @media(max-width: @max-medium) {
         gap: 2em;
    }
}

.stacked-cards__item {
    margin-bottom: 3.5em;
    padding-bottom: 3.5em;
    border-bottom: 1px solid @borderColor;
    &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.stacked-cards___item__image {
    width: 60%;
    min-height: 12em;
    @media (min-width: @small) { width: 40%; }
    @media (min-width: @medium) { width: 70%; }
    @media (min-width: @large) {
        width: 70%;
        min-height: 16em;
    }
}

.stacked-cards__icon {
    width: 3em;
    height: auto;
}

.stacked-cards {
    position: relative;
    overflow-x: hidden;
}

.stacked-cards::after,
.stacked-cards::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;

    background: radial-gradient(40.4% 41.72% at 50% 50%, #001F5A 0%, rgba(245, 248, 251, 0) 90%);
    opacity: 0.25;
}

.stacked-cards::after {
    top: 5%; right: 0;
    width: 30em; height: 40em;
    @media (min-width: @medium) {
        width: 50em; height: 60em;
    }
}

.stacked-cards::before {
    bottom: 5%; left: 0;
    width: 40em; height: 30em;
    @media (min-width: @medium) {
        width: 40em; height: 30em;
    }
}